* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: white;
    padding: 0px;
    margin: 0px;
}

header{
    display: flex;
    justify-content: center;
    /*border:white 2px solid;*/
    
}

header h1{
    text-align: center;
    font-size: 50px;
}

header img{
    width: 1280px;
    height:727px;
    top: 73px;
   /* border:white 2px solid;*/
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    /*border:white 2px solid;*/
   }

#parrafo-iguana {
    width: 30%;
    margin: 20px;
    padding: 20px;
    font-size: 16px;
    /*border:white 2px solid;*/
   }

#iguana-verde img{
    width: 60%;
    padding: 50px;
    margin: 20px;
    border:white 2px solid;
  }

.caracteristicas{
    background-color:#1a1e13;
    display: block;
    padding: 20px;
    margin: 10px;
}

h1{
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    font-size: 40px;
    bor
    }


.iconos-caracteristicas {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 50px;
    padding: 50px;
    text-align: center;
    font-size: 25px;

    /*border:white 2px solid;*/
}

.iguana-images img{
    display: inline;
    justify-content:center;
    align-items: center ;
    width: 100%;
    margin: 10px;
    padding: 20px;
   
}

footer{
    line-height: 5em;
    background-color:#1a1e13;
    color: white;
    padding: 0;
    text-align: center;
    font-size: 20px;
}
